.cards-list {
	position: relative;
	height: 500px;
	width: 1300px;
}

.card1 {
	margin-top: 150px;
	width: 170px;
	height: 170px;
	border-radius: 50px;
    background-color: #F78181;
	cursor: pointer;
	transition: 0.4s;
	float: left;
	margin-left: 75px;
}


.card2 {
	margin-top: 150px;
	width: 170px;
	height: 170px;
	border-radius: 50px;
    background-color: #FAAC58;
	cursor: pointer;
	transition: 0.4s;
	float: left;
	margin-left: 75px;
}

.card3 {
	margin-top: 150px;
	width: 170px;
	height: 170px;
	border-radius: 50px;
    background-color: #F4FA58;
	cursor: pointer;
	transition: 0.4s;
	float: left;
	margin-left: 75px;
	
}

.card4 {
	margin-top: 150px;
	width: 170px;
	height: 170px;
	border-radius: 50px;
    background-color: #9FF781;
	cursor: pointer;
	transition: 0.4s;
	float: left;
	margin-left: 75px;
}

.card5 {
	margin-top: 150px;
	width: 170px;
	height: 170px;
	border-radius: 50px;
    background-color:#81BEF7;
	cursor: pointer;
	transition: 0.4s;
	float: left;
	margin-left: 75px;
}






.card_image img {
	width: 110px;
	height: 110px;
	border-radius: 10px;
	margin-left:30px;
	margin-top:15px;
	
}

.card .card_image img {
	width: 100px;
	height: 100px;
	border-radius: 0px;
	margin-left : 35px;
	margin-top: 25px;
	
}

 p{
	margin-top: -3%;
	font-size: 23px;
	
}


.card_title {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: -px;
	height: 40px; 
	
}

.card-list:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px #848484;
}

.title-white {
	color: white;
	
}

.title-black {
	color: black;
}

@media all and (max-width: 500px) {
	.card-list {
		/* On small screens, we are no longer using row direction but column */
		flex-direction: column;
	}
}

#cont {
	position:relative;
	width: 1300px;
}

.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 60px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  position: absolute;
  top: 23px;
  left: 38px;
  font-size: 23px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
  
  & svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
  }
}








.input {
	margin-top:-10px;
	width: 400px;
	height: 40px;
	border: 1px solid darkgray;
	border-radius:5px;
	outline: none;
	font-weight: bold;
	font-size: 18px;
	
}





.ep {
	width: 650px;
	margin-top:30px;
	height: 400px;
	padding: 20px 0 0 0;
	word-wrap: break-word;
	font-size: 16px;
	box-sizing: border-box;
	
}



.tabBox {
	position: absolute;
	width: 650px;
	height: 500px;
}
.tabBox2 {
	position: absolute;
	left:650px;
	width: 650px;
	height: 500px;
}

.tabBox::before{
        content: "";
        background: #ffffff;
        background-size: cover;
        opacity: 0.1;
        position:absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;

}

.tabBox2::before{
        content: "";
        background: #ffffff;
        background-size: cover;
        opacity: 0.1;
        position:absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;

}


.tabBox h3 {
	float:left;
	margin: 0;
	padding: 0;
	top: 0;
	font-size: 14px;
}

.tabBox h3 a {
	display: block;
	padding: 5px;
	width: 130px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #800000;
	border: 1px solid white;
	border-bottom: none;
	border-radius: 7px 7px 0 0;
}

.tabBox .box {
	display: none;
	margin: 0;
	padding: 15px;
	height: 200px;
	border: 1px solid black;
	border-radius: 0 5px 5px 5px;
}
.tabBox .btnMore {
	display: none;
	right: 5px;
	top: 10px;
}

.tabBox .ctn1 h3 {
	left: 0;
}

.tabBox .ctn1 h3 a {
	color: white;
}

.tabBox .ctn2 h3 a {
	color: white;
}

.tabBox .ctn2 h3 {
	left: 140px;
	
}

.tabBox2 a {
	display: block;
	padding: 5px;
	width: 130px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #800000;
	border: 1px solid white;
	border-bottom: none;
	border-radius: 7px 7px 0 0;
}

.d_clear img{
	width: 650px;
	height: 400px;
}