<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>side 공통 양식</title>
<link href="sidebar.css" rel="stylesheet">
</head>

<body>
	<div th:fragment="sidebar">
		<div class="sideMenu" id="side-menu">
			<div class="main-menu">
				<!--            <h1>사업단소개</h1>-->
				<div class="wrapper">
					<ui class="mainMenu">
					<li class="item" id="account"><a href="#account" class="btn"><i
							class="fas fa-user-circle"></i>융합클리닉센터</a>
						<div class="subMenu">
							<a href="">- 센터소개</a> <a href="">- 산학융합형교과목</a> <a href="">-
								경진대회</a> <a href="">- 융합형전공</a> <a href="">- All-Set서비스</a>
						</div></li>
					<li class="item" id="account1"><a href="#account1" class="btn"><i
							class="fas fa-address-card"></i>이노베이션센터</a>
						<div class="subMenu">
							<a href="">- 센터소개</a> <a href="">- 산학공동개발과제</a> <a href="">-
								산학협력공간입주</a>
						</div></li>
					<li class="item" id="account2"><a href="#account2" class="btn"><i
							class="fas fa-info"></i>현장실습센터</a>
						<div class="subMenu">
							<a href="">- 센터소개</a> <a href="">- 현장실습제도</a> <a href="">-
								현장실습프로그램</a>
						</div></li>
					<li class="item" id="account4"><a href="#account4" class="btn"><i
							class="fas fa-address-card"></i>창업실습센터</a>
						<div class="subMenu">
							<a href="">- 센터소개</a> <a href="">- 창업교육지원</a> <a href="">-
								학색창업지원</a> <a href="">- 창업경진대회</a>
						</div></li>
					<li class="item" id="account5"><a href="#account5" class="btn"><i
							class="fas fa-sign-out-alt"></i>SISC</a>
						<div class="subMenu">
							<a href=""> - 센터소개</a> <a href=""> - 장비이용</a> <a href=""> -
								커뮤니케이션센터</a> <a href=""> - 성평등상담실</a>
						</div></li>
					<li class="item" id="account6"><a href="#account6" class="btn"><i
							class="fas fa-sign-out-alt"></i>사업단소개</a>
						<div class="subMenu">
							<a href="">- 인사말</a> <a href="">- 비전과목표</a> <a href="">- 조직구성</a>
							<a href="">- 찾아오시는길</a>
						</div></li>
					<li class="item" id="account7"><a href="#account7" class="btn"><i
							class="fas fa-sign-out-alt"></i>커뮤니티</a>
						<div class="subMenu">
							<a href="">- 공지사항</a> <a href="">- 행사일정</a> <a href="">- 행사소식</a>
							<a href="">- 뉴스레터</a> <a href="">- 자료실</a> <a href="">- Q&A</a>
						</div></li>
					</ui>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
