#popup {
	width: 335px;
	overflow-x: hidden;
	border-radius: 10px;
	background: #b2b2b2;
}

.title {
	width: 330px;
	margin: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
}

#popup img {
	border-radius: 15px;
	margin: 10px;
	width: 90px;
	height: 90px;
	margin: 10px;
}

.detail {
	position: relative;
	width: 350px;
	height: 110px;
	border-bottom: 2px solid #f2f2f2;
}

.detail p {
	margin: 0px;
	position: relative;
	top: -98px;
	left: 130px;
	font-weight: bold;
	position: relative;
}

.detail h2 {
	cursor: default;
	margin: 0px;
	position: relative;
	text-align: center;
	margin: 0px;
	width: 100px;
	height: 30px;
	top: -123px;
	left: 200px;
	font-size: 20px;
	line-height: 23px;
	color: #848484;
	margin: 0px;
	border: 1px solid #A4A4A4;
	background: #f2f2f2;
	border-radius: 10px;
}

.sec_cal {
	width: 300px;
	padding: 10px;
	position: relative;
}

.sec_cal .p1 {
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
}

.sec_cal .p2 {
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
}

.input {
	margin-top: 10px;
	margin-left: 25px;
	text-align: center;
}

#startDate, #endDate {
	width: 100px;
	border-radius: 5px;
	text-align: center;
}

.mybtn {
	cursor: pointer;
	margin-left: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90px;
	height: 40px;
	font-size: 13px;
	border-radius: 9px;
	background-color: dimgrey;
	color: white;
	outline: 0;
	border: 0;
	font-weight: bold;
	width: 90px;
}

.b1 {
	margin-left: 110px;
	margin-top: 30px; width : 90px;
	height: 40px;
	font-size: 13px;
	border-radius: 9px;
	background-color: #f2f2f2;
	color: white;
	outline: 0;
	border: 0;
	font-weight: bold;
	text-align: center;
	line-height: 44px;
	cursor: pointer;
	width: 90px;
}

.b1 a {
	color: #848484;
}