a{
	text-decoration:none; 
}
a:link { color:#111; }
.search {
     float: right;

 }
ul, li {
    list-style: none;
}

 h2.bl.sq {
     padding-left: 18px;
     background-position: 0.2em 0.5em;
 }

 .h1 {
     position: static;
     padding-top: 13px;
/*      margin-left: 250px;  */
     max-width: 800px;
     min-width: 800px;
     width: 800px;
 }

 .app_list {
  position:relative;
 	width: 900px;
 	height: 600px;
 }

 .app_list ul li {
     overflow: hidden;
     position: relative;
     float: left;
     width: 250px;
     height: 280px;
     margin: 0 35px 35px 0;
     padding: 9px;
     border: 1px solid #d3d3d3;
 }

 .app_list ul li .photo img {
     width:250px;
     height: 200px;
 }

/*  .app_list ul li .state {
     position: absolute;
     right: -55px;
     width: 130px;
 } */

.equi_page{
	position:relative;
	width:300px;
	height:50px;
	left:200px;
}
.page-item{
	margin-left:15px;
	float: left;
}


