#popup {
	width: 400px;
}

#popup img {
	width: 100px;
	height: 100px;
}

.detail {
	width: 400px;
	height: 100px;
}

.detail h2 {
	position: relative;
	top: -100px;
	left: 150px;
	font-size: 20px;
	line-height: 15px;
}

.sec_cal {
	width: 400px;
	margin: 0 auto;
	position: relative;
}

.sec_cal .p1 {
	margin-left:30px;
	font-size: 13px;
	line-height: 15px;
}

.sec_cal .p2 {
	margin-left:30px;
	font-size: 11px;
	line-height: 15px;
}
.input {
	margin-left:30px;
	margin-top: 20px;
	text-align: center;

}
.mybtn{
	margin-left:170px;
	margin-top:100px;
	width: 90px;
	height: 40px;
	font-size: 13px;
	border-radius: 9px;
	background-color: dimgrey;
	color: white;
	outline: 0;
	border: 0;
	font-weight: bold;
}
