*{
	font-family: 'LINESeedKR-Bd';
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: local('line'), url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header {
	height: 40px;
}

.header>a {
	margin-left: 15px;
	font-size: 25px;
	letter-spacing: -1px;
	text-decoration: none;
	font-weight: 400;
	float: left;
}

#login {
	margin-top:3px;
	position: relative;
	float: right;
	margin-right: 20px;
	height: 50px;
}

#login>a {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}

.topmenu {
	margin-left: 20px;
	font-size: 18px;
	letter-spacing: -0.5px;
	text-decoration: none;
	font-weight: 550;
	
}

#login>h {
	margin-left: 8px;
	margin-right: 8px;
	font-size: 25px;
	text-decoration: none;
	font-weight: 550;
	float: left;
}

#sns {
	margin-right: 25px;
	letter-spacing: 5px;
	float: right;
}

#sns img {
	margin-top: 3px;
	width: 30px;
	height: 30px;
}

#TopMenu {
	position:absolute;
	line-height:80px;
	height: 60px;
}

#home img {
	position: absolute;
	height: 60px;
	margin-left: 10px;
	margin-top:10px;
}

#pMenu {
	height:50px;
	margin-left: 450px;
}

#pMenu>ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#pMenu li {
	display: block;
	float: left;
	font-size: 30px;
	font-weight: 550;
	letter-spacing: -1px;
	text-decoration: none;
}

#pMenu li a {
	height:60px;
	margin-left:90px;
	margin-right:90px;
	display: block;
	text-decoration: none;
}

#pMenu li a:hover, ul li:hover a {
	color: #FA5858;
	text-decoration: none;
}

#pMenu li ul {
	margin-left:40px;
	margin-right:92px;
	background: #FAFAFA;
	display: none;
	position: absolute;
	width: 170px;
	z-index: 400;
	border: 1px solid #f2f2f2;
	border-top:none;
	border-bottom:none;
}

#pMenu li:hover ul {
	display: block;
}

#pMenu li li {
	margin-left:-40px;
	display: block;
	float: center;
	height:80px;
	width:210px;
	padding: 0px;
	border-bottom: 1px solid #f2f2f2;
	text-align:center;
}
#pMenu li li a{
	padding-left:40px;
}
#pMenu li:hover li a {
	background: none;
}

#pMenu li ul a {
	margin-left: -20px;
	text-align: center;
	color:black;
	display: block;
	width:122px;
	height: 25px;
	font-size: 25px;
}

#pMenu li ul a:hover, li ul li:hover a {
	text-decoration: none;
	color: #FA5858;
}

#slidebtn {
	width: 35px;
	height: 35px;
}