* {
	font-family: 'LINESeedKR-Bd';
		margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'LINESeedKR-Bd';
	src: local('line'),
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

body {
	background-image: url("/img/background.jpg");
	background-size: cover;
}

#wrap {
	position: relative;
	margin: 0 auto;
 	width: 1920px; 
	height: 100%;
	top: 0px;

}

#header {
	position: relative;
	z-index: 2;
	top: 0px;
	height: 100px;

}

#header::before{
        content: "";
        background: #ffffff;
        background-size: cover;
        opacity: 0.1;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;


}

#slide {
	position: relative;
	z-index: 1;
	height: 300px;
}

#container {
	position: relative;
	height: 1500px;
}

#side {
	position: absolute;
	left: 310px;
	z-index: 1;
	width: 300px;
	height: 800px;
}

#content {
	position: absolute;
	z-index: 1;
	left: 670px;
	width: 1000px;
	height: 100%;
}

#footer {
	position: relative;
	width: 100%;
	height: 200px;
}

#Title {
	position:relative;
	height:99.5px;
	width:1070px;
	left:-60px;
	border-bottom: 3px solid #666666;
	
}
#Title .subTitle1 {
	font-size: 40px;
	
}

#Title .subTitle2 {
	color:#999;
	font-size: 20px;
	
}