*{
	font-family: 'LINESeedKR-Bd';
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: local('line'), url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#wrap {
	position: relative;
	margin: 0 auto;
	width: 1920px;
	height: 100%;
	top:0px;
}


#header {
	position: sticky;
	z-index: 2;
	top: 0px;
	height: 120px;
	background:#FAFAFA;

}

#slide {
	position: relative;
	z-index: 1;
	height: 300px;
}

#container{
	position: relative;
	height: 2000px;
	
}
#side {
	position: absolute;
    left: 310px;
	z-index: 1;
	width: 300px;
<<<<<<< HEAD
	height: 500px;
	background-color: green;
=======
	height: 900px;
>>>>>>> branch 'sub' of https://github.com/SilverCastle123/project.git
}
#content{
	position: absolute;
	z-index: 1;
	left:610px;
	width: 1000px;
	height: 100%;
}

#footer{
	position: relative;
	width:100%;
	height: 200px;
}
