*{
	font-family: 'LINESeedKR-Bd';
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: local('line'), url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#wrap {
	position: relative;
	margin: 0 auto;
	width: 1920px;
	height: 100%;
	background-color: red;
}


#header {
	position: sticky;
	z-index: 2;
	top: 0px;
	height: 150px;
	background-color: blue;

}

#slide {
	position: relative;
	z-index: 1;
	height: 300px;
	background-color: #f2f2f2;
}

#container{
	position: relative;
	height: 2000px;
	background-color: orange;
	
}
#side {
	position: absolute;
    left: 310px;
	z-index: 1;
	width: 300px;
	height: 900px;
	background-color: green;
}
#content{
	position: absolute;
	z-index: 1;
	left:610px;
	width: 1000px;
	height: 100%;
	background-color: yellow;
}

#footer{
	position: relative;
	width:100%;
	height: 200px;
	background-color: skyblue;
}
