<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layoutCmnt}">
<head>
<meta charset="UTF-8">
<title>news</title>
<link th:href="@{/css/pageView/cmnt/news.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content" id="content">
		<div id="news">
			<div id="Title">
				<div id="TopTitle" style="padding: 15px 15px 15px 0px;">뉴수레터</div>
			</div>
			<div class="subtitle">
				<p>서강대학교 LINC 뉴스레터입니다.</p>
			</div>
		</div>
	</div>
</body>
</html>
