<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layoutStu}">
<head>
<meta charset="UTF-8">
<title>equipment</title>
<link th:href="@{/css/equipment/equipment/equipmentList.css}"
	rel="stylesheet">
</head>
<body>
	<div layout:fragment="content" id="content">
		<div id="Title">
			<p class="subTitle1">인프라</p>
			<p class="subTitle2">등록사업 화면입니다</p>
		</div>
		<div class="h1 contents">
			<div class="article">
				<div class="search">
					<input type="text" placeholder="검색어 입력">
					<button>검색</button>
				</div>
				<br>
				<div class="h2 article">
					<div class="app_list">
						<ul  th:each="list : ${resultMap.list}" >
							<li th:each="imgSrc: ${list.img}" ><a th:href="@{./view(busiId=${list.busiId})}"> <span
									class="photo"> <img th:src="${imgSrc.stored_file_path}"
										alt>
								</span> <br> <span class="title" th:text="${list.busiName}"></span>
									<br> <span class="info" th:text="${list.busiRegister}"></span>
									<br> <span th:text="${list.busiTel}"></span> <br> <span
									class="state none"> 예약가능 </span>
							</a></li>

						</ul>
						<br>

					</div>
				</div>


			</div>
		</div>
		<div class="equi_page">
			<ul class="equi_page">
				<li class="page-item"
					th:each="index : ${#numbers.sequence(1, resultMap.totalPage)}"
					th:with="paging=${resultMap.paging}"><a class="page-link"
					th:href="@{./list(page=${index - 1},page=${paging.pageSize})}"><span
						th:text="${index}"></span></a></li>
			</ul>
		</div>

	</div>
</body>
</html>