<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css">
    <title>로그인</title>

</head>

<body>
   <div class="box_line">
   <img src="logo.JPG" width="650" height="500">
    <section class="login">
        <h2>로그인</h2>
        <ul>
            <form role="form" method="post" action="/members/login">
                <li class="bg_ip" >
                   <input required id="userid" class="cb" type="text"
					placeholder="아이디를 입력하세요" name="userId" />
                </li>
                <li class="bg_ip">
                    <input required id="password" class="cb" type="password"
					placeholder="비밀번호를 입력하세요" name="password" />
                </li>

                <li class="cust"><input type="submit" value="회원가입" /></li>
                <li class="cust"><input type="submit" value="로그인" /></li>
            </form>
        </ul>
        
    </section>
    </div>
</body></html>