<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layoutMb}">
<meta charset=UTF-8>
<title>회원가입 동의창</title>

<th:block layout:fragment="css">
	<style>
.fieldError {
	margin-left: 300px;
	color: #bd2130;
}


</style>
<link th:href="@{/css/member/memberRole.css}" rel="stylesheet"> 
</th:block>
</head>
<body>
	<div layout:fragment="content" id="content">
	<h3>서비스 이용약관</h3>
    <p class="agree">
        <strong>제 1장 총칙</strong><br>
        <br>
        제 1조 목적<br>
        이 약관은 서강대학교가 제공하는 인터넷 사이트의 이용조건 및 절차에 관한 사항과 기타 필요한 사항을 규정함을 목적으로 합니다.<br>
        제 2조 약관의 효력과 변경<br>
        1. 본 약관은이용자에게 공시함으로써 효력을 발생합니다.<br>
        2. 서강대학교는 사정변경 또는 중요 사유가 발생하거나 기타 학교가 필요한 경우 본 약관을 변경할 수 있으며, 변경된 약관은 전항과 같은 방법으로 효력을 발생합니다.<br>
        <br>
        <strong>제 2조 약관의 효력과 변경<br></strong>
        <br>
        (1) 본 약관은 이용자에게 공시함으로서 효력을 발생합니다.<br>
        (2) 서강대학교는 사정변경 또는 중요 사유가 발생하거나 기타 학교가 필요한 경우 본 약관을 변경할 수 있으며, 변경된 약관은 전항과 같은 방법으로 효력을 발생합니다.
    </p>
    <div class="ck_ck">
        <input type="checkbox" id="agree1">
        <label>이용약관을 숙지하였으며, 이에 동의합니다.</label>
    </div>

    <h3>개인정보취급방침</h3>
    <p class="agree">
        <strong>서강대학교 LINC 회원가입 개인정보처리방침</strong><br>
        <br>
        홈페이지 이용자의 개인정보 수집 및 이용 목적<br>
        홈페이지 이용자의 개인정보를 수집 또는 이용하는 목적은 홈페이지 이용자에게 신규서비스 개발 및 맞춤 서비스 제공을 위함입니다.<br>
        홈페이지를 통하여 수집 및 관리하는 개인정보는 다음과 같습니다.<br>
        - 홈페이지 회원가입을 위해 기재한 개인정보내용<br>
        - 로그자료, 불량이용기록<br>
        <br>
        서강대학교 LINC 사업단은 수집 된 모든 개인정보가 불법 오용되지 않도록 최선의 노력을 다할 것이며, 이용자의 사전허가 없이는 공개하지 않겠습니다.<br>
        <strong>홈페이지 이용자의 개인정보 보호범위</strong>

    </p>

    <div class="ck_ck">
        <input type="checkbox" id="agree2">
        <label>이용약관을 숙지하였으며, 이에 동의합니다.</label>
        <br>
        <br>
    </div>

		<div class="import">
			<button class="company_btn" onClick="location.href='/members/com/new'" type="button">기업회원가입</button>
			<button class="user_btn" onClick="location.href='/members/stu/new'" type="button">학생회원가입</button>
		</div>
	</div>
</body>
</html>