/* .memberlist {

	text-align: center;
	font-weight:bold;
}

.listtable {
	border-top: 2px solid #A4A4A4;
	height: 150px;
}
.listhead{
	font-size:20px;
	border-bottom: 1px solid #A4A4A4;
}

table, th, td {
	border-collapse: collapse;
}

.listhead{
	background: #D8D8D8;
}

.listbody tr{
	border-bottom: 1px solid #A4A4A4;
}
.page{
	margin-top: 10px;
	font-size:20px;
	text-align:center;
}
.pagingnum{
	width:35px;
	height:35px;
	margin:auto;
	background:#E6E6E6;
	border-radius:7px;
}
.page a{
	padding:0.3px;
	color:black;
	font-size: 0.8em;
}
.memberlist {
	text-align: center;
	font-weight:bold;
}

.listtable {
	border-top: 2px solid #A4A4A4;
	height: 150px;
}
.listhead{
	font-size:20px;
	border-bottom: 1px solid #A4A4A4;
}

table, th, td {
	border-collapse: collapse;
}

.listhead{
	background: #D8D8D8;
}

.listbody tr{
	border-bottom: 1px solid #A4A4A4;
}
.page{
	margin-top: 10px;
	font-size:20px;
	text-align:center;
}
.pagingnum{
	width:35px;
	height:35px;
	margin:auto;
	background:#E6E6E6;
	border-radius:7px;
}
.page a{
	padding:0.3px;
	color:black;
	font-size: 0.8em;
}
*/
#Title {
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	border-bottom: 2px #d3d3d3 solid;
	letter-spacing: 2px;
} 





html {
    font-size: 10px;
}


ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


a:hover{
    text-decoration: none;
  
    
}

.board_wrap {
    width: 1000px;

  /*   margin: 100px auto; */
/*   background:red; */
}

.board_wrap {
	width: 100%;
 	min-width: 320px; 
/* 	padding: 0 30px; */
	box-sizing: border-box;
}


.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}



.board_list {
    width: 1000px;
    border-top: 2px solid #000;
}



.borderside{
	border-bottom: 1px solid #ddd;
}


} 
.board_list .num1 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num2 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num3 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num4 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num5 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num6 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num7 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num8 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num9 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}



.board_list .com1 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .com2 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .com3 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .com4 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .com5 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .com6 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .com7 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .com8 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .com9 {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}




.board_list > div.top > div {
    font-weight: 600;
}





.board_list .num1 {
	height:20px;
    width: 10%;
}
.board_list .num2 {
	height:20px;
    width: 10%;
}
.board_list .num3 {
	height:20px;
    width: 30%;
}
.board_list .num4 {
	height:20px;
    width: 10%;
}
.board_list .num5 {
	height:20px;
    width: 20%;
}
.board_list .num6 {
	height:20px;
    width: 10%;
}
.board_list .num7 {
	height:20px;
    width: 10%;
}
.board_list .num8 {
	height:20px;
    width: 10%;
}
.board_list .num9 {
	height:20px;
    width: 10%;
}




.board_list .com1 {
	height:20px;
    width: 10%;
}
.board_list .com2 {
	height:20px;
    width: 10%;
}
.board_list .com3 {
	height:20px;
    width: 10%;
}
.board_list .com4 {
	height:20px;
    width: 10%;
}
.board_list .com5 {
	height:20px;
    width: 20%;
}
.board_list .com6 {
	height:20px;
    width: 10%;
}
.board_list .com7 {
	height:20px;
    width: 10%;
}
.board_list .com8 {
	height:20px;
    width: 10%;
}
.board_list .com9 {
	height:20px;
    width: 10%;
}


.board_list>tbody .title {
	
    text-align:left;
}

.centertit{
	
 	text-align:center;	 
	 
}
	

.board_list .writer {
	height:20px;
    width: 10%;
}

.board_list .date {
	height:20px;
    width: 10%;
}

.board_list .count {
	height:20px;
    width: 10%;
}

.board_page {
	 margin-top: 30px;
    text-align: center; 
    font-size: 20px;
}

.board_page .page-item {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;

    font-size: 20px;
/*     line-height: 100%; */
}

.board_page .a {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

