<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layoutBsn}">
<head>
<meta charset="UTF-8">
<title>주직구성 페이지</title>
<link href="/css/pageView/introduce/organization.css" rel="stylesheet" >
</head>
<body>
	<div layout:fragment="content" id= "content">
		<div id="organization">
			<div class="body">
				<div class="contents">
					<h2 class="bl sq">
						사업단 조직도<br>
					</h2>
					<p>
						<img width="740" class="txc-image"
							style="clear: none; float: none;"
							src="http://linc.sogang.ac.kr/dataview/temp/DEI20160115150148.jpg">
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>