/* * {
    margin: 0;
    padding: 0;
}
 */
html {
    font-size: 10px;
}


ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


a:hover{
    text-decoration: none;
  
    
}

.board_wrap {
    width: 1000px;

  /*   margin: 100px auto; */
/*   background:red; */
}

.board_wrap {
	width: 100%;
 	min-width: 320px; 
/* 	padding: 0 30px; */
	box-sizing: border-box;
}


.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}



.board_list {
    width: 1000px;
    border-top: 2px solid #000;
}



.borderside{
	border-bottom: 1px solid #ddd;
}

.board_list .title {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
    
   
} 
.board_list .num1 {
    display: inline-block;
    padding: 14px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list .num {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
} 
.board_list .writer {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
} 
.board_list .count {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
} 
.board_list .date {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
} 



.board_list > div.top > div {
    font-weight: 600;
}





.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
}
.board_list>tbody .title {
    text-align:left;
}

.centertit{
	
 	text-align:center;	 
	 
}
	

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
	  margin-top: 30px;
    text-align: center; 
    font-size: 20px;
}

.board_page .page-item {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;

    font-size: 20px;
/*     line-height: 100%; */
}

.board_page .a {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}




