#greeting {
	width: 1000px;
}

.head {
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
}

.body {
	border-top: 1px #d3d3d3 solid;
	margin-top: 15px;
	padding-top: 15px;
}

.content {
	width: 800px;
}

.search {
	width: 740px;
	position: absolute;
}

.select1 {
	height: 25px;
	border-radius: 0px;
	border-color: #CCCCCC;
	font-size: 12px;
	color: #6E6E6E;
}

.select2 {
	height: 25px;
	border-radius: 0px;
	border-color: #CCCCCC;
	font-size: 12px;
	color: #6E6E6E;
}

.select3 {
	width: 160px;
	height: 21px;
	border-radius: 0px;
	font-size: 12px;
	border: 1px solid #CCCCCC;
}

.lookup {
	width: 55px;
	height: 24px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none !important;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid #5B5E6A;
	background: #5B5E6A;
	margin-left: 5px;
	transform: translateY(10%)
}

input::placeholder {
	color: #D8D8D8;
}

.lookup img {
	width: 11px;
	margin-right: 2px;
}

table {
	position: absolute;
	margin-top: 45px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: 300px;
	width: 763px;
	border-top: 2px solid #B20000;
	border-collapse: collapse;
}

thead th {
	background: #F6F6F6;
	font-weight: bold;
}

table th, td {
	border: 0.5px solid #CCCCCC;
}