#Title {
	position: relative;
	top: 20px;
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	border-bottom: 2px #d3d3d3 solid;
}

.date {
	position: relative;
	top: 50px;
	font-size: 20px;
}

.body {
	position: relative;
	top: 100px;
	left: 100px;
}

.photo {
	width: 900px;
}

.photo>img {
	background-position: center;
	width: 800px;
	height: 850px;
}

.content {
	position: relative;
	top: 10px;
	width: 800px;
	word-break: break-all;
}

#button {
	position: relative;
}

.button1 {
	position: absolute;
	top: 100px;
	right: 500px;
	background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color: #79bbff;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528ecc;
	width: 200px;
	height: 55px;
}

.button1:hover {
	background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color: #378de5;
}

.button2 {
	position: absolute;
	top: 230px;
	right: 300px;
	background: linear-gradient(to bottom, #6E6E6E 5%, #6E6E6E 100%);
	background-color: #6E6E6E;
	border-radius: 6px;
	border: 1px solid #6E6E6E;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
}

.button3 {
	position: absolute;
	top: 230px;
	right: 200px;
	background: linear-gradient(to bottom, #6E6E6E 5%, #6E6E6E 100%);
	background-color: #6E6E6E;
	border-radius: 6px;
	border: 1px solid #6E6E6E;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
}