/* /* .head { */
/* 	height: 60px; */
/* 	font-size: 40px; */
/* 	font-weight: bold; */
/* 	letter-spacing: 2px; */
/* } */ */

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: -15px;
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
	border-bottom: 2px #d3d3d3 solid;
}

#Title {
	margin-bottom:50px;
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	border-bottom: 2px #d3d3d3 solid;
	letter-spacing: 2px;
}