<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>equipment</title>
	<link href="equipment.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="h1 contents">
        <div class="article">
            <div class="search">
                <form name="searchForm" method="post" action="boardlist.do"></form>
                <input type="text" placeholder="검색어 입력">
                <button>검색</button>
            </div>
            <br>
            <div class="h2 article">
                <h2 class="bl sq">나노팹센터</h2>
                <div class="app_list">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="photo">
                                    <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">unSmart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo">
                                    <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">Smart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo">
                                    <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">Smart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo">
                                    <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">Smart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo">
                                   <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">Smart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo">
                                  <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">Smart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo">
                                   <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">Smart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo">
                                    <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">Smart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo">
                                    <img src="/img/equipment/equip_printer" alt>
                                </span>
                                <br>
                                <span class="title">Smart printer</span>
                                <br>
                                <span class="info">
                                    유지혜
                                    <br>
                                    02-3274-4810
                                </span>
                                <span class="state none">
                                    예약가능
                                </span>
                            </a>
                        </li>
                    </ul>
                    <br>
                    <div class="page_wrap">
                        <div class="page_nation">
                            <a class="arrow pprev" href="#"></a>
                            <a class="arrow prev" href="#"></a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a class="arrow next" href="#"></a>
                            <a class="arrow nnext" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body></html>