<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layoutBigdata}">
<head>
<meta charset="UTF-8">
<title>비전과 목표 페이지</title>
<link href="/css/pageView/bigdata/bigdataList.css" rel="stylesheet" >
</head>
<body>
	<div layout:fragment="content" id= "content">
	<div id="Title">
				<p class="subTitle1">가족회사데이터</p>
				<p class="subTitle2">저희 사업단의 가족회사데이터입니다</p>
			</div>
		<div id="vision">
			<div class="body">
				<div class="contents">
					<h2 class="bl sq">가족회사 데이터</h2>
					<div class="h3">
						<div class="picture1">
							<p style="">
								<img
									src="/img/bigdata/가족회사선그래프202211.png"
									class="txc-image" style="clear: none; float: none;">
							</p>
							<p>
								<br>
							</p>
						</div>
					</div>
				</div>
				<div class="contents">
					<h2 class="bl sq">공동 연구개발 기업 수</h2>
					<div class="h3">
						<div class="picture">
							<div class="bigdataImg">
							<img  alt=""
								src="/img/bigdata/공동 연구개발 기업 수202211.png">
							</div>
						</div>
					</div>
				</div>
				
				
				
				<div class="contents">
					<h2 class="bl sq">기타 협력기업 수</h2>
					<div class="h3">
						<div class="picture">
							<img class="bigdataImg" alt=""
								src="/img/bigdata/기타 협력기업 수202211.png">
						</div>
					</div>
				</div>
				
				<div class="contents">
					<h2 class="bl sq">대학장학금 지급 및 지원금 참여기업 수</h2>
					<div class="h3">
						<div class="picture">
							<img class="bigdataImg" alt=""
								src="/img/bigdata/대학장학금 지급 및 지원금 참여기업 수202211.png">
						</div>
					</div>
				</div>
				
				<div class="contents">
					<h2 class="bl sq">연구장비 공동활용 수</h2>
					<div class="h3">
						<div class="picture">
							<img class="bigdataImg" alt=""
								src="/img/bigdata/연구장비 공동활용 수202211.png">
						</div>
					</div>
				</div>
				
				<div class="contents">
					<h2 class="bl sq">재직자 교육 참여기업 수</h2>
					<div class="h3">
						<div class="picture">
							<img class="bigdataImg" alt=""
								src="/img/bigdata/재직자 교육 참여기업 수202211.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>