<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layoutBigdata}">
<head>
<meta charset="UTF-8">
<title>비전과 목표 페이지</title>
<link href="/css/pageView/bigdata/bigdataIssue.css" rel="stylesheet" >
</head>
<body>
	<div layout:fragment="content" id= "content">
	<div id="Title">
				<p class="subTitle1">창업트랜드</p>
				<p class="subTitle2">창업 트랜드 데이터입니다</p>
			</div>
		<div id="vision">
			<div class="body">
				<div class="contents">
					<h2 class="bl sq">창업 트랜드 데이터</h2>
					<div class="h3">
						<div class="picture1">
							<p style="">
								<img
									src="/img/bigdata/창업트랜드202211.png"
									class="txc-image" style="clear: none; float: none;">
							</p>
							<p>
								<br>
							</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</body>
</html>