#greeting {
	width: 1000px;
}

.head {
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: -15px;
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
	border-bottom: 2px #d3d3d3 solid;
}

.body {
	margin-top: 30px;
}

colgroup {
	display: table-column-group;
}

thead th {
	background: #F6F6F6;
	font-weight: bold;
}

table {
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: 300px;
	width: 680px;
	border-top: 2px solid #B20000;
	border-collapse: collapse;
}

table th, td {
	border: 0.5px solid #CCCCCC;
}

tbody a {
	margin-left: 15px;
	float: left;
}

.bl.sq {
	background:
		url(http://linc.sogang.ac.kr/front/images/local/bullet_h2.gif)
		no-repeat;
	padding-left: 18px;
	background-position: 0.2em 0.5em;
}

.bl.gd {
	padding-left: 8px;
	background:
		url(http://linc.sogang.ac.kr/front/images/common/omni_2x2_000_50.png)
		no-repeat;
	background-position: 0.8em 1.2em;
}