#header {
	margin-top: 10px;
	margin-bottom: -5px;
	height: 45px;
	border-bottom: 2px #d3d3d3 solid;
}

#header>a {
	margin-left: 15px;
	font-size: 25px;
	letter-spacing: -1px;
	text-decoration: none;
	font-weight: 550;
	float: left;
}

#login {
	float: right;
	margin-right: 20px;
	font-weight: 550;
}

#login>a {
	font-size: 25px;
	letter-spacing: -0.5px;
	text-decoration: none;
	font-weight: 550;
	float: left;
}

#login>h {
	margin-left: 8px;
	margin-right: 8px;
	font-size: 25px;
	text-decoration: none;
	font-weight: 550;
	float: left;
}

#sns {
	margin-right: 25px;
	letter-spacing: 5px;
	float: right;
}

#sns img {
	margin-top: 3px;
	width: 30px;
	height: 30px;
}

#TopMenu {
	height: 65px;
	border-bottom: 2px #d3d3d3 solid;
}

#home img {
	position: absolute;
	margin-top: 2px;
	margin-left: 10px;
	width: 17%;
}

#pMenu {
	margin-top: 15px;
	margin-left: 10%;
	text-align: center;
	letter-spacing: 100px;
}

#pMenu a {
	font-size: 40px;
	font-weight: 550;
	letter-spacing: -1px;
	text-decoration: none;
}

#slidebtn {
	width: 35px;
	height: 35px;
}