html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
}
 a:link { color: red; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: blue; text-decoration: underline;}

a:hover {
	text-decoration-line: none;
}
.footer {
	margin-top: 30%;
}

.content {
	margin-bottom: 100px;
	margin-top: 50px;
	margin-left: 300px;
	margin-right: 200px;
}

