.cards-list {
	margin-right: 90px;
	z-index: 0;
	width: 90%;
	z-index: 0;
}

.card {
	margin-top: 120px;
	margin-left: 40px;
	width: 150px;
	height: 150px;
	border-radius: 50px;
	box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px
		rgba(0, 0, 0, 0.22);
	cursor: pointer;
	transition: 0.4s;
	float: left;
	margin-left: 85px;
}

.card .card_image {
	width: 150px;
	height: 150px;
	border-radius: 40px;
}

.card .card_image img {
	width: inherit;
	height: inherit;
	border-radius: 40px;
	object-fit: cover;
}

.card .card_title {
	text-align: center;
	border-radius: 0px 0px 40px 40px;
	font-weight: bold;
	font-size: 30px;
	margin-top: -60px;
	height: 40px;
}

.card:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px
		rgba(0, 0, 0, 0.22);
}

.title-white {
	color: #800000;
}

.title-black {
	color: black;
}

@media all and (max-width: 500px) {
	.card-list {
		/* On small screens, we are no longer using row direction but column */
		flex-direction: column;
	}
}

#cont {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 200px;
}

#btn_group {
	height: 600px;
	width: 1000px;
}

input {
	width: 325px;
	height: padding: 10px;
	border: 0px;
	outline: none;
	float: left;
	font-size: 15px;
}

button {
	width: 50px;
	height: 44px;
	border: 0px;
	background-color: darkgrey;
	outline: none;
	float: right;
	color: white;
	font-weight: bold;
	margin-top: -14px;
	font-size: 14px;
}

select {
	position: relative;
	width: 100px;
	padding: .5em .6em;
	margin-left: 50px;
	margin-bottom: 10;
	border: 1px solid darkgray;
	padding-top: 11px;
	font-size: 17px;
}

.sh {
	margin: 0px;
	width: 450px;
	height: 45px;
	border: 1px solid darkgray;
	float: left;
	box-sizing: border-box;
	padding-top: 13px;
}

.ep {
	width: 500px;
	height: 250px;
	padding: 20px 0 0 0;
	background-color: #F2F2F2;
	word-wrap: break-word;
	font-size: 16px;
	margin-right:
}

#search_group {
	width: 800px;
}

.st_st select {
	display: block;
	height: 45px;
	width: 95px;
	margin-right: 10px;
}

.st_st {
	margin-left: 18px;
	width: 150px;
	float: left;
}

#search {
	margin-top: -240px;
	width: 700px;
}

* {
	margin: 0;
	padding: 0;
}


a {
	text-decoration: none;
	color: #333;
}

.tabBox {
	position: absolute;
	margin-top: 90px;
	margin-left: -200px;
	padding: 29px 0 0 0;
	width: 500px;
}

.tabBox h3 {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	font-size: 14px;
}

.tabBox h3 a {
	display: block;
	padding: 5px;
	width: 130px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #800000;
	border: 1px solid white;
	border-bottom: none;
	border-radius: 7px 7px 0 0;
}

.tabBox .box {
	display: none;
	margin: 0;
	padding: 15px;
	height: 200px;
	border: 1px solid black;
	border-radius: 0 5px 5px 5px;
}
.tabBox .btnMore {
	display: none;
	position: absolute;
	right: 5px;
	top: 10px;
}

.tabBox .ctn1 h3 {
	left: 0;
}

.tabBox .ctn1 h3 a {
	color: white;
}

.tabBox .ctn2 h3 a {
	color: white;
}

.tabBox .ctn2 h3 {
	left: 140px;
	
}

.tabBox .ctnOn .box {
	display: block;
}

.tabBox .ctnOn .btnMore {
	display: block;
}

.tabBox .ctnOn h3 {
	height: 23px;
	top: -2px;
}

.tabBox .ctnOn h3 a {
	line-height: 21px;
	font-size: 16px;
	font-weight: bold;
}

.tabBox2 .ctn3 {
	float: right;
	font-size: 15px;
	line-height: 2.6em;
	width: 100px height:80px;
	margin-right: 250px;
	margin-top: 87px;
}
.tabBox2 a {
	display: block;
	padding: 5px;
	width: 130px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #800000;
	border: 1px solid white;
	border-bottom: none;
	border-radius: 7px 7px 0 0;
}
.tabBox2 .d_clear img{
	margin-left: 409px;
}