#content {
	margin-top: 2%;
}

#Title {
	margin-top: 50px;
	position: relative;
	margin-left: 20%;
	margin-right: 20%;
}

#TopTitle {
	font-size: 40px;
	font-weight: bold;
	border-bottom: 2px #d3d3d3 solid;
}

#leftMenu {
	margin-top: 10px;
	margin-left: 7%;
	border: none;
}

#Menu {
	width: 200px;
	margin-left: 0px;
	font-size: 33px;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px #d3d3d3 solid;
}

#left1 {
	width: 150px;
	font-size: 25px;
	margin-top: -5px;
	margin-left: 25px;
	line-height: 70px;
	list-style: none;
	font-weight: bold;
	text-align: center;
}

#main {
	margin-left: 28%;
	margin-top: -12%;
}

.main2 {
	margin-left: 28%;
	margin-top: 2%;
}

.id {
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	letter-spacing: -0.5px;
	width: 300px;
	height: 40px;
	position: relative;
}

input {
	padding: 0;
	margin: 0;
	width: 400px;
	height: 40px;
	font-size: 20px;
	border: 2px #d2d2d2 solid;
	border-radius: 5px;
}

#checkbtn {
	width: 110px;
	height: 40px;
	margin-left: 50px;
	text-align: center;
	font-size: 17px;
	color: white;
	background: #585858;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.pwt {
	font-size: 20px;
	text-align: center;
	margin-left: 17%;
}

#pagefooter {
	margin-top: 15%;
}
