h3 {
	margin-left: 300px;
	margin-top: 100px;
}

.agree {
	width: 900px;
	height: 300px;
	border: 1px solid #000;
	overflow-y: scroll;
	margin-left: 250px;
}
#agree1{
	height:10px;
}
.import {
	float: left;
	list-style: none;
	text-align: center;
	margin-left: 800px;
	line-height: 100px;
}

.ck_ck {
	margin-left:800px;
	font-size: 17px;
}

.company_btn {
	width: 130px;
	height: 50px;
	font-size: 16px;
	margin-left: 10px;
	background-color: darkred;
	color: white;
	outline: 0;
	border: 0;
	font-weight: bold;
	cursor:pointer;
}

.user_btn {
	width: 130px;
	height: 50px;
	font-size: 16px;
	margin-left: 19px;
	background-color: steelblue;
	color: white;
	outline: 0;
	border: 0;
	font-weight: bold;
	cursor:pointer;
}
