#signup {
	width: 1000px;
	padding: 0px;
	margin: 0px;
}

#content {
	margin-top: 150px;
	margin-left: 150px;
}

#Title {
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	border-bottom: 2px #d3d3d3 solid;
	letter-spacing: 2px;
}

.main2 {
	margin-top: 30px;
}

.id {
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	letter-spacing: -0.5px;
	width: 300px;
	height: 40px;
	position: relative;
}

.text {
	padding: 0;
	margin: 0;
	width: 400px;
	height: 40px;
	font-size: 20px;
	border: 2px #d2d2d2 solid;
	border-radius: 5px;
}

.pwt {
	font-size: 20px;
	text-align: center;
	margin-left: -280px;
}
.btn-primary{
	margin-top: 50px;
	margin-left: 400px;
	font-size: 20px;
	font-weight:bold;
}