body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	text-decoration: none;
}

.mainMenu {
	list-style: none;
	width: 300px;
	display: block;
	border-radius: 10px;
	overflow: hidden;
}

.bt i {
	margin-right: 10px;
}

.subMenu {
	background: #fff;
	overflow: hidden;
	transition: max-height 0.7s;
	max-height: 0;
}

.subMenu a {
	display: block;
	padding: 15px 20px;
	color: #fff;
	position: relative;
	font-size: 15px;
	text-align: left;
	list-style: circle;
	text-indent: 50px;
}

.subMenu a:hover {
	color: #f1f1f1;
	background: #fff;
}

.subMenu a:hover:after {
	content: '';
	position: absolute;
	height: 0;
	width: 6px;
	right: 0px;
	top: 0;
	opacity: 1;
}

.subMenu a:last-child {
	border: none;
}

.item:target .subMenu {
	max-height: 14em;
}

.sideMenu {
	height: 1000px;
	position: absolute;
	background: #f1f1f1;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10px;
	font-size: 20px;
}

.sideMenu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #111;
	display: block;
	transition: 0.3s;
	margin-bottom: 10.6px;
	text-transform: uppercase;
	font-weight: 600;
}

.sideMenu a i {
	padding-right: 39px;
}

.item a:hover {
	color: #f1f1f1;
	background: #B20000;
}
