.slide {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	position: relative;
	width: 100%;
	user-select: none;
}

.slide_item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 0px;
	width: 100%;
	height: 300px;
	flex-shrink: 0;
	transition: left 0.15s;
}

.slide_button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(90%);
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: #cccc;
	cursor: pointer;
}

.slide_prev_button {
	left: 44%;
}

.slide_next_button {
	right: 44%;
}

.slide_item.item1 {
	background-color: darkgoldenrod;
}

.slide_item.item2 {
	background-color: aqua;
}

.slide_item.item3 {
	background-color: blueviolet;
}

.slide_item.item4 {
	background-color: burlywood;
}

.slide_item.item5 {
	background-color: cornflowerblue;
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.slide_pagination {
	display: flex;
	column-gap: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.slide_pagination>li {
	color: #7fb5ff88;
	cursor: pointer;
	font-size: 25px;
}

.slide_pagination>li.active {
	color: #7fb5ff;
}

.slide_item_duplicate {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 0px;
	width: 100%;
	height: 300px;
	flex-shrink: 0;
	transition: left 0.15s;
}