.slide {
	/* layout */
	display: flex;
	flex-wrap: nowrap;
	/* �����̳��� ���빰�� �����̳� ũ��(width, height)�� �Ѿ �� ������ �ʵ��� �ϱ� ���� hidden�� �ش�. */
	overflow: hidden;
	/* position */
	/* slide_button�� position absolute�� �����̳� ���ʿ��� top, left, right offset�� ����� �� �ֵ��� relative�� �ش�. (�⺻���� static�ε�, static�� ��� �� ���� �����̳ʷ� �����鼭 ���� �ڵ忡�� html�� �������� offset�� �����Ű�� ����) */
	position: relative;
	/* size */
	width: 100%;
	/* slide drag�� ���� DOM��Ұ� �巡�׷� ���õǴ°��� ���� */
	user-select: none;
}

.slide_item {
	/* layout */
	display: flex;
	align-items: center;
	justify-content: center;
	/* position - ��ư Ŭ���� left offset���� �����Ű�� ���� */
	position: relative;
	left: 0px;
	/* size */
	width: 100%;
	height: 300px;
	/* flex item�� flex-shrink�� �⺻���� 1�̹Ƿ� �����̳� ũ�⿡ �°� �پ��µ�, �����̵带 ������ ���̹Ƿ� �پ���� �ʵ��� 0�� �ش�. */
	flex-shrink: 0;
	/* transition */
	transition: left 0.15s;
}

.slide_button {
	/* layout */
	display: flex;
	justify-content: center;
	align-items: center;
	/* position */
	position: absolute;
	/* ��ư�� �߾ӿ� ��ġ�ϰ� �ϱ����� ��� */
	top: calc(90%);
	/* size */
	width: 15px;
	height: 15px;
	/* style */
	border-radius: 100%;
	background-color: #cccc;
	cursor: pointer;
}

.slide_prev_button {
	left: 44%;
}

.slide_next_button {
	right: 44%;
}

/* �� �����̵尡 ����Ǵ� ���� �ð������� Ȯ���ϱ� ������ �� �����̵庰 ���� ���� */
.slide_item.item1 {
	background-color: darkgoldenrod;
}

.slide_item.item2 {
	background-color: aqua;
}

.slide_item.item3 {
	background-color: blueviolet;
}

.slide_item.item4 {
	background-color: burlywood;
}

.slide_item.item5 {
	background-color: cornflowerblue;
}

/* ���������̼� ��Ÿ�� */
ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.slide_pagination {
	/* layout */
	display: flex;
	gap: 5px;
	/* position */
	position: absolute;
	bottom: 0;
	/* left:50%, translateX(-50%)�� �ϸ� ���� ����� ��ġ��ų �� �ִ�. */
	left: 50%;
	transform: translateX(-50%);
}

.slide_pagination>li {
	/* ���� �����̵尡 �ƴ� ���� ���� �ο� */
	color: #7fb5ff88;
	cursor: pointer;
	font-size: 25px;
}

.slide_pagination>li.active {
	/* ���� �����̵� ������ ���� ���� */
	color: #7fb5ff;
}

.slide_item_duplicate {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 0px;
	width: 100%;
	height: 300px;
	flex-shrink: 0;
	transition: left 0.15s;
}