<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layout1}">
<head>
<title>Board List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!--삭제 스크립트 추가-->
<script th:inline="javascript">
	$(document).ready(function(){
		var id = window.location.search;
		alert(id);
		var deleteId = "/boards/notice/view/delete"+id;
		});
		function fnViewDelete() {
			if (confirm("삭제하시겠습니까?")) {
				let frm = $("#frm");
				frm.attr("action", "/boards/notice/view/delete"+window.location.search);
				 
				frm.submit();
			}
		}
		
	</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h1>Board View.</h1>
			<form id="frm" action="/boards/notice/view/action" method="post">
				<input type="hidden" name="id" th:value="${info.id}">

				<!--이용자 출력화면------------------>
				<div class="usertitle">
					<h3 th:text="${info.title}"></h3>
					<span class="linfo" th:text="${info.registerId}"></span> <span>
						&nbsp;| &nbsp;</span> <span class="linfo" th:text="${info.registerTime}"></span>
				</div>
				<div class="ucont">
					<p th:text="${info.content}"></p>
				</div>
				<!-- 이용자 출력 화면 끝------------------------------------------------- -->


				<div class="mb-3">
					<label class="form-label">제목</label> <input type="text"
						class="form-control" name="title" th:value="${info.title}">
				</div>
				<div class="mb-3">
					<label class="form-label">내용</label>
					<textarea class="form-control" rows="5" cols="" name="content"
						th:text="${info.content}"></textarea>
				</div>
				<div class="mb-3">
					<label class="form-label">작성자</label> <input type="text"
						class="form-control" name="registerId"
						th:value="${info.registerId}">
				</div>
				<div class="float-left">
					<button type="button" class="btn btn-success"
						onclick="javascript:location.href='/boards/notice/list'">이전페이지</button>
					<button type="submit" class="btn btn-primary">수정하기</button>
				</div>


			</form>

			<form action="&{deleteId};" method="get">
				<div class="float-right">
					<input type="submit" class="btn btn-danger" value="삭제">
				</div>
			</form>
		</div>

	</div>
</body>
</html>