#signup {
	width: 1000px;
	padding: 0px;
	margin: 0px;
}



.main2 {
	margin-top: 30px;
}

.id {
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	letter-spacing: -0.5px;
	width: 300px;
	height: 40px;
	position: relative;
}

.text {
	padding: 0;
	margin: 0;
	width: 400px;
	height: 40px;
	font-size: 20px;
	border: 2px #d2d2d2 solid;
	border-radius: 5px;
}
.text2{
	background-color:#f2f2f2;
}

.pwt {
	font-size: 20px;
	text-align: center;
	margin-left: -280px;
}
.btn-primary{
	margin-top: 50px;
	margin-left: 400px;
	font-size: 20px;
	font-weight:bold;
}
.memberlist {

	text-align: center;
	font-weight:bold;
}

.listtable {
	border-top: 2px solid #A4A4A4;
	height: 150px;
}
.listhead{
	font-size:20px;
	border-bottom: 1px solid #A4A4A4;
}

table, th, td {
	border-collapse: collapse;
}

.listhead{
	background: #D8D8D8;
}

.listbody tr{
	border-bottom: 1px solid #A4A4A4;
}
.page{
	margin-top: 10px;
	font-size:20px;
	text-align:center;
}
.pagingnum{
	width:35px;
	height:35px;
	margin:auto;
	background:#E6E6E6;
	border-radius:7px;
}
.page a{
	padding:0.3px;
	color:black;
	font-size: 0.8em;
}
.memberlist {
	margin-left: 150px;
	text-align: center;
	font-weight:bold;
}

.listtable {
	border-top: 2px solid #A4A4A4;
	height: 150px;
}
.listhead{
	font-size:20px;
	border-bottom: 1px solid #A4A4A4;
}

table, th, td {
	border-collapse: collapse;
}

.listhead{
	background: #D8D8D8;
}

.listbody tr{
	border-bottom: 1px solid #A4A4A4;
}
.page{
	margin-top: 10px;
	font-size:20px;
	text-align:center;
}
.pagingnum{
	width:35px;
	height:35px;
	margin:auto;
	background:#E6E6E6;
	border-radius:7px;
}
.page a{
	padding:0.3px;
	color:black;
	font-size: 0.8em;
}