<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/com}">
<head>
<meta charset="UTF-8">
<title>인사말 페이지</title>
<link href="/css/greeting.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<div id="greeting">
			<div class="head">
				<div id="Title">
					<div id="TopTitle" style="padding: 0px 20px 15px;">회원가입</div>

				</div>
				<div class="subtitle">
					<p>서강대학교 LINC 입니다.</p>
				</div>
			</div>
			<div class="body">
				<div class="contents">
					<p>
						서강대학교 산학협력선도대학(LINC) 육성사업단은 대학-기업 간 산학협력을 통해 대학교육 시스템을 개선함으로써 <br>취업
						미스매치 해소와 대학-지역산업의 공생발전을 견인하는 역할을 담당하고 있습니다.
					</p>
					<p>
						특별히 서강대학교는 외부환경 및 산업체의 니즈에 신속대응 가능한 체제를 보유하고 있으며 <br>지리적으로도
						마포, 상암, 구로 등 다양한 벤처단지와 인접하고 있는 점 등 <br>지역 산학협력연계에 있어서도 무한한
						가능성을 가진 역동적이고 강한, 준비된 대학입니다.
					</p>
					<p>
						사업단은 창의적 융합교육의 실현을 위해 산학 융합형 교과목 개발과 운영 지원을 지속적으로 확대하고 있으며, <br>개인별
						산학트랙 설계와 특성화 분야를 육성·강화함으로써 실무중심, 현장중심의 교육과 연구를 실행하고 있습니다. <br>또한
						대학-기업간의 복합적인 업무 협력을 지원하기 위해 서강오픈이노베이션 센터를 운영함으로써, <br>가족기업을
						중심으로 산학협력의 가시적인 성과를 창출하고 이를 지속적으로 확산해 나가고자 합니다.
					</p>
					<p>
						THE FAST FOLLOWER 중심의 기존 교육 패러다임을 혁신하여 창조경제의 씨앗(THE FIRST MOVER)를
						양성하고 <br>지역산업과의 동반성장을 견인할 수 있도록 많은 관심과 참여 부탁드립니다.
					</p>
					<p>감사합니다.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>