<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/com}">
<head>
<meta charset="UTF-8">
<title>비전과 목표 페이지</title>
<link href="/css/vision.css" rel="stylesheet" >
</head>
<body>
	<div layout:fragment="content">
		<div id="vision">
			<div class="head">
				<div class="title">
					<p>비전과 목표</p>
				</div>
				<div class="subtitle">
					<p>서강대학교 LINC의 비전과 목표입니다.</p>
				</div>
			</div>
			<div class="body">
				<div class="contents">
					<h2 class="bl sq">서강대학교 LINC 사업단의 비전</h2>
					<div class="h3">
						<div class="picture">
							<p style="">
								<img
									src="http://linc.sogang.ac.kr/dataview/temp/DEI20150508140526.png"
									class="txc-image" style="clear: none; float: none;">
							</p>
							<p>
								<br>
							</p>
						</div>
					</div>
				</div>
				<div class="contents">
					<h2 class="bl sq">서강대학교 LINC 사업단의 주요 추진목표</h2>
					<div class="h3">
						<div class="picture">
							<img alt=""
								src="http://linc.sogang.ac.kr/front/images/local/article_0602_02.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>