<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>파일 보내기 예제</title>
    
 	<script type="text/javascript">
 	function uploadFileAdded() {
 	    var uploadFiles = document.getElementById("uploadFiles")
 	    for (var i = 0; i < uploadFiles.files.length; i++) {
 	        var file = uploadFiles.files[i];
 	        // 비동기 파일 업로드를 시작한다.
 	        var uploader = new Uploader(file);
 	        uploader.startUpload();
 	    }
 	    // 폼을 리셋해서 uploadFiles에 출력된 선택 파일을 초기화시킨다.
 	    document.getElementById("uploadForm").reset();
 	}
 	
 	</script>
  </head>
  <body>
    <form name="form" method="post" action="/upload/multi" enctype="multipart/form-data">
      <input id= "uploadFiles" type="file" name="files" multiple="multiple"/>
      <input type="submit" id="submit" value="전송"/>
	<input type="button" value="추가하기" onclick="uploadFileAdded()">
    </form>
  </body>
</html>
