<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layoutCmnt}">
<head>
<meta charset="UTF-8">
<title>event</title>
<link th:href="@{/css/cmnt/eventSchedule.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content" id="content">
		<div id="eventschedule">
			<div id="Title">
				<div id="TopTitle" style="padding: 15px 15px 15px 0px;">행사일정</div>
			</div>
			<div class="subtitle">
				<p>서강대학교 LINC의 행사일정입니다.</p>
			</div>
			<div class="schedulevent"> 
				<div class="se_list">
				<h2><strong>행사일정</strong>
				<span>2022년 11월</span></h2>
			<li class="list">등록된 일정이 없습니다.</li>
			</div>
			<div class="se_cld">
			
			</div>
			</div>
			
		</div>
	</div>
</body>
</html>