#head {
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	border-bottom: 1px #d3d3d3 solid;
	letter-spacing: 2px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
}

.content {
	width: 770px;
}

.content p {
	font-size: 14px;
	margin-top: -10px;
	margin-left: 25px;
}

h2.bl.sq {
	background:
		url(http://linc.sogang.ac.kr/front/images/local/bullet_h2.gif)
		no-repeat;
	padding-left: 18px;
	background-position: 0.2em 0.5em;
}

.fe {
	position: relative;
}

.ws {
	position: relative;
	float: left;
	margin-right: 10px;
}

.ws p {
	margin: 0px;
}

.ws img {
	padding-right: 7px;
	width: 174px;
	height: 130px;
}

table {
	position: absolute;
	top: 250px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: 300px;
	width: 760px;
	border-top: 2px solid #B20000;
	border-collapse: collapse;
}

thead th {
	background: #F6F6F6;
	font-weight: bold;
}

table th, td {
	border: 0.5px solid #CCCCCC;
}

.content .gw {
	padding: 1px 10px;
	color: #999999;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	background: #FFFFFF;
}

.content .rk {
	padding: 1px 10px;
	color: #fff;
	border: 1px solid #C0504D;
	border-radius: 3px;
	background: #CD7270;
}

.content .jt {
	cursor: pointer;
	border-radius: 0px;
	border: none;
	background: #666;
	color: #fff;
	font-size: 12px;
	width: 50px;
	height: 25px;
}