.head {
	height: 40px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: -20px;
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
	
}

.body {
	margin-top: 35px;
}

.tab {
	font-size: 14px;
	color: #B40404;
	text-align: center;
	width: 187px;
	height: 40px;
	line-height: 40px;
	float: left;
	border: 2px solid #B40404;
	border-bottom: none;
	text-decoration: none;
	font-weight: bold;
	
}

.tab2 {
	color: #666666;
	background: #F3F3F3;
	font-size: 14px;
	text-align: center;
	width: 187px;
	height: 40px;
	line-height: 40px;
	float: left;
	border: 1px solid #CCCCCC;
	text-decoration: none;
}

.tab:hover {
	font-weight: bold;
	cursor: pointer;
}

.tab2:hover {
	font-weight: bold;
	cursor: pointer;
}

h2.bl.sq {
	padding-left: 18px;
	background-position: 0.2em 0.5em;
}

.bl.sq {
	height: 20px;
	background:
		url(http://linc.sogang.ac.kr/front/images/local/bullet_h2.gif)
		no-repeat;
		margin: 5px;
 	padding: 5px; 
}

.bl.md {
	padding-left: 15px;
	margin-bottom: 15px;
	height: 15px;
	background:
		url(http://linc.sogang.ac.kr/front/images/common/omni_2x2_000_50.png)
		no-repeat;
	background-position: 0.1em 0.7em;
	margin: 5px;
 	padding: 5px; 
}

.content {
	width: 777px;
	margin-top: 30px;
}

.content p {
	margin-left: 25px;
}