
li {
    list-style: none;
}

/* ul {
    text-align: left;
    margin-left: -20px;
}
 */
.item a{
	border-bottom: 3px #d3d3d3 solid; 
}


#leftTitle {
	border-top: 3px solid #666666;
	border-bottom: 3px #d3d3d3 solid; 
    font-size: 40px;
    font-weight: 350px;
    text-align: center;
    position: relative;
    height: 70px;
}

#subMenu a {
    width: 300px;
    display: block;
    padding: 12px 20px;
    position: relative;
    font-size: 18px;
    text-align: left;
    list-style: circle;
    text-indent: 50px;
}

.depth1 {
	position: relative;
}

.depth2 {
   /* background: #fff; */ 
}

.depth2 li a {
    font-size: 3px;
    right: 20px;
}

.depth2 li a:hover {
    color: #f1f1f1;
    background: #B20000;
/*     -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5); */
    transform: scale(1.1,1.1);
}

.depth2 li a:hover:after {
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top: 0;
    opacity: 1;
}

#subMenu a:last-child {
    font-size: 16px;
    border: none;
    font-weight: 300;
    text-align: left;
}

.item:target .subMenu {
    max-height: 14em;
}

#leftMenu {
    height: 500px;
    margin: 0;
    position: absolute;
    /* background: #f1f1f1; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
/*     font-size: 20px; */
    width: 300px;
}

#leftMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #111;
    display: block;
    transition: 0.3s;
    margin-bottom: 10.6px;
    text-transform: uppercase;
    font-weight: 600;
/*     font-size: 25px; */
}

#leftMenu a i {
    padding-right: 39px;
}

.depth1 a:hover {
    color: #f1f1f1;
    background: #B20000;
}
