#head {
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	border-bottom: 1px #d3d3d3 solid;
	letter-spacing: 2px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
}

.body {
	margin-top: -30px;
	position: relative;
}

.content {
	width: 777px;
}

table {
	position: absolute;
	top: 50px;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: 300px;
	width: 760px;
	border-top: 2px solid #B20000;
	border-collapse: collapse;
}

thead th {
	background: #F6F6F6;
	font-weight: bold;
}

table th, td {
	line-height: 25px;
	border: 0.5px solid #CCCCCC;
}