<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Title</title>
<!-- CSS only -->
<link th:href="@{/css/layout1.css}" rel="stylesheet">
<link th:href="@{/css/footer.css}" rel="stylesheet">
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/slide.css}" rel="stylesheet">
 <link th:href="@{/css/sidebar.css}" rel="stylesheet"> 
<script src="https://kit.fontawesome.com/24c2da1160.js"
	crossorigin="anonymous"></script>
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="css">

	<style>
.foot {
	margin-top: 1000px;
}
.side{
	heigth:1000px;
}
</style>
</th:block>

</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div th:replace="fragments/sidebar::sidebar" class="side"></div> 
	<div layout:fragment="content" class="content"></div>
	<div th:replace="fragments/footer::footer" class="foot"></div>
</body>
</html>