<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>장비팝업페이지</title>
<link th:href="@{/css/equipment/equipment/equipmentPopup.css}"
	rel="stylesheet">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
	integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
	<script src="/js/popup.js">
</script>
</head>
<body>
	<form class="frm" method="post" action="equipment/popup">
		<div id="popup">
			<div class="detail">
				<img th:each="imgSrc: ${info.img}"
				th:src="${imgSrc.stored_file_path}">
				<h2 th:text="${info.equiId}">장비ID</h2>
				<h2 th:text="${info.equiName}">장비명</h2>
			</div>
			<div class="sec_cal">
				<p class="p1">예약을 원하시는 날짜를 선택해주세요</p>
				<p class="p2">* 오늘로부터 최대 7일간 예약신청이 가능합니다.</p>
				<div class="input">
					<input type= "hidden" th:field="${info.equiId}">
					<input type= "hidden" th:field="${info.equiName}">
					<input type= "hidden" th:field="${info.reservation}">
					<input type= "hidden" name="member" th:value="${member}">
					<input type="text" id="startDate" name="startDate" readonly> ~ <input
						type="text" id="endDate" name="endDate" readonly>
				</div>
			</div>
		</div>
		<input type="submit" value="예약하기" class="mybtn"> 
	</form>
	<script src="/js/popup.js"></script>

</body>
</html>

