<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>장비팝업페이지</title>
<script src="https://code.jquery.com/jquery-3.6.1.slim.js"
	integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk="
	crossorigin="anonymous"></script>
<link th:href="@{/css/equipment/equipment/equipmentPopup.css}"
	rel="stylesheet">
	<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<link rel="stylesheet" href="resources/css/plugin/datepicker/bootstrap-datepicker.css">

</head>
<body>
	<div id="popup">
		<div class="detail">
			<img src="/image/twitterimg.png">
			<p>장비ID</p>
			<p>장비명</p>
		</div>
		<div class="sec_cal">
		<main>
			<h1>
				<span class="fontawesome-plane"></span> Moon Flights
			</h1>
			<h2>Select your flight dates below</h2>
			<div id="flight-datepicker" class="input-daterange input-group">
				<div class="form-item">
					<label>Depart on</label> <span class="fontawesome-calendar"></span>
					<input type="text" class="input-sm form-control" id="start-date"
						name="start" placeholder="Select depart date"
						data-date-format="DD, MM d"> <span
						class="date-text date-depart"></span>
				</div>
				<div class="form-item">
					<label>Return on</label> <span class="fontawesome-calendar"></span>
					<input type="text" class="input-sm form-control" id="end-date"
						name="end" placeholder="Select return date"
						data-date-format="DD, MM d"> <span
						class="date-text date-return"></span>
				</div>
			</div>
			</main>
		</div>
		<script src="/js/popup.js"></script>
	</div>
</body>
</html>

