<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layoutStu}">
<head>
<meta charset="UTF-8">
<title>장비상세페이지</title>
<link th:href="@{/css/equipment/equipment/equipmentView.css}"
	rel="stylesheet">
<script th:inline="javascript">
	function reservation() {
		var query = window.location.search;
		var popupX = (window.screen.width / 2) - (200 / 2);
		var popupY= (window.screen.height /2) - (300 / 2);
		
 		window.open("/equipment/popup"+query, 'reservationPopup'
 				, 'status=no, height=300px, width=300px, left='+ popupX + ', top='+ popupY); 
	}
</script>
</head>
<body>
	<div layout:fragment="content" id="content">
		<div id="Title">
			<p class="subTitle1">인프라</p>
			<p class="subTitle2">보유장비 상세화면입니다</p>
		</div>
		<div class="bd">
			<img class="photo" th:each="imgSrc: ${info.img}"
				th:src="${imgSrc.stored_file_path}" alt>
			<div class="product">
				<h3>
					<span th:text="${info.equiId}"></span>
				</h3>
				<ul class="wrapping">
					<li><strong><span th:text="${info.equiName}"></span></strong></li>
					<li><span th:text="${info.equiRegister}"></span></li>
					<li><span th:text="${info.equiTel}"></span></li>
					<br>
				</ul>
			</div>
			<div class="btn">
			<p th:if="${info.reservation.toString() == 'IMPOSSIBLE'}">현재 예약이 불가능합니다</p>
				<div th:if="${info.reservation.toString() == 'POSSIBLE'}" class="b1">	
					<a  onclick="reservation();">예약하기</a>
				</div>
			</div>
			<div class="explain">
				<h2>상세정보</h2>
				<br>
				<hr class="one">

				<br>
				<p>
					<span th:text="${info.equiContent}"></span>
				</p>
			</div>

		</div>
	</div>
</body>
</html>
