.head {
	height: 40px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: -20px;
	
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
}

.tab {
	font-size: 14px;
	color: #B40404;
	text-align: center;
	width: 187px;
	height: 40px;
	line-height: 40px;
	float: left;
	border: 2px solid #B40404;
	border-bottom: none;
	text-decoration: none;
	font-weight: bold;
}

.tab2 {
	color: #666666;
	background: #F3F3F3;
	font-size: 14px;
	text-align: center;
	width: 187px;
	height: 40px;
	line-height: 40px;
	float: left;
	border: 1px solid #CCCCCC;
	text-decoration: none;
}

.tab:hover {
	font-weight: bold;
	cursor: pointer;
}

.tab2:hover {
	font-weight: bold;
	cursor: pointer;
}

h2.bl.sq {
	padding-left: 18px;
	background-position: 0.2em 0.5em;
}

.bl.sq {
	height: 20px;
	background:
		url(http://linc.sogang.ac.kr/front/images/local/bullet_h2.gif)
		no-repeat;
}

.bl.md {
	padding-left: 15px;
	margin-bottom: 15px;
	height: 15px;
	background:
		url(http://linc.sogang.ac.kr/front/images/common/omni_2x2_000_50.png)
		no-repeat;
	background-position: 0.1em 0.7em;
}

.content {
	width: 620px;
	height: 850px;
	border: 2px solid #bebebe;
	border-radius: 5px;
	position: absolute;
	left:30px;
}

.ob {
	margin-left: 30px;
	font-size: 30px;
	font-weight: bold;
	float: left;
}

.ob2 {
	margin-left: 60px;
	font-size: 30px;
	font-weight: bold;
	float: left;
	position: absolute;
	top: 750px;
}
.ob2 > p{
	height:30px;
	margin:5px;
}

.ct2 {
	position: absolute;
	left:60px;
	top: 400px;
}

.ct2 textarea {
	resize: both;
	height: 350px;
	padding-left: 10px;
	line-height: 30px;
	height: 350px;
	width: 550px;
	resize: none;
	border-radius: 5px;
}

.ct{
	position:relative;
	left:40px;
	margin-top:5px;
	margin-bottom:5px;
}
.ct textarea {
	padding-left: 5px;
	line-height: 30px;
	height: 30px;
	width: 300px;
	resize: none;
	border-radius: 5px;
}

textarea::placeholder {
	color: #848484;
}

.nt {
	position: absolute;
	left: 60px;
	top: 850px;
}

.appl {
	top:900px;
	left: 290px;
	position: absolute;
	width: 100px;
	height: 50px;
	font-size: 20px;
}