#greeting {
	width: 1000px;
}

.head {
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
}

.body {
	border-top: 1px #d3d3d3 solid;
	margin-top: 15px;
	padding-top: 15px;
}

.contents p {
	padding-bottom: 15px;
}