#greeting {
	width: 1000px;
}

.head {
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.subtitle {
	margin: 2px;
	font-size: 13px;
	color: #999999;
}

.kc {
	position: relative;
	width: 250px;
}

.body p {
	width: 520px;
	margin-left: 30px;
}

.ej {
	position: absolute;
	top: 400px;
}

table {
	position: absolute;
	margin-top: 5px;
	text-align: left;
	line-height: 30px;
	font-size: 13px;
	font-weight: 300px;
	width: 800px;
	border-top: 2px solid #B20000;
	border-collapse: collapse;
}

h2.bl.sq {
	padding-left: 18px;
	background-position: 0.2em 0.5em;
}

.bl.sq {
	height: 20px;
	background:
		url(http://linc.sogang.ac.kr/front/images/local/bullet_h2.gif)
		no-repeat;
}

thead th {
	font-size: 15px;
	clear: both;
	text-align: center;
	background: #F6F6F6;
	font-weight: bold;
}

tbody th {
	font-size: 15px;
	clear: both;
	text-align: center;
	background: #F6F6F6;
	font-weight: bold;
}

table th, td {
	border: 0.5px solid #CCCCCC;
}