
.first-row .fa-check {
	position: relative;
	top: 30px;
}

.search {
	position: relative;
	top: -10px;
	left: 540px;
}

.subtitle {
	position: relative;
	/* 	top:20px; */
	font-size: 13px;
	color: #999999;
	font-size: 13px;
	color: #999999;
	border-bottom: 2px #d3d3d3 solid;
}

.search table {
	border-collapse: separate;
	text-indent: initial;
	border-spacing: 2px;
}

.photo img {
	width: 145px;
	height: 110px;
}

.new_event {
	text-decoration: none;
}

.new_event ul{
	width:900px;
	
}
.new_event ul li {
	height: 100px;
	width:900px;
	padding: 20px 10px;
	float:left;
	border-top: 2px #d3d3d3 solid;
	border-bottom: 2px #d3d3d3 solid;
}

.new_event ul li dt {
	color: #333;
	font-size: 16px;
	display: block;
	decoration:none;
/* 	position: relative;
	left: 155px;
	bottom: 125px; */
	font-size: 16px;
}
.new_event ul li dt a{
	text-decoration:none;
		
}

.new_event ul li dd a{
	text-decoration:none;
}

.new_event ul li dt span {
    padding: 6px 0 0 5px;
    color: #929292;
    font-size: 11px;
    font-weight: 600;
}
dl{
	display: block;
	both:clear;
	position:relative;
 	left: 175px;
	bottom: 110px; 
}

dd {
	display: block;
	color: #333;
	font-size: 12px;
	display: block;
 	position: relative;
	top: 10px;
	text-decoration:none;
}