#Title {
	position: relative;
	/* 	top:20px; */
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 60px;
}

.subtitle {
	border-bottom: 2px #d3d3d3 solid;
}

div {
	display: block;
}

h2 {
	display: inline-block;
	width: 410px;
	height: 27px;
	padding: 5px;
}

strong {
	color: #b20000;
}

span {
	font-size: 18px;
}

.se_list ul {
	display: inline-block;
	border-top: 4px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	width: 410px;
	height: 60px;
	padding: 0;
}

.list {
	display: inline-block;
	width: 410px;;
	height: 19.5px;
	padding: 20px 0;
	text-align: center;
	border: 1;
}

.se_cld {
	float: right;
	width: 280px;
	padding: 30px;
	
}

 .cld_header {
	position: relative;
	width: 280px;
	height: 38px;
	background: #d9d9d9;
} 

form {
	display: block;
	margin-top: 0em;
}

.cld_header .ym_num {
	position: relative;
	width: auto;
	height: 18px;
	padding-top: 6px;
	margin-left: 68px;
	font-size: 14px;
}

.cld_header .ym_num {
	position: relative;
	width: auto;
	height: 18px;
	padding-top: 6px;
	margin-left: 68px;
	font-size: 14px;
}

select {
	writing-mode: horizontal-tb !important;
	font-style:;
	font-variant-ligatures:;
	font-variant-caps:;
	font-variant-numeric:;
	font-variant-east-asian:;
	font-weight:;
	font-stretch:;
	font-size:;
	font-family:;
	text-rendering: auto;
	color: fieldtext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: auto;
	box-sizing: border-box;
	align-items: center;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	background-color: field;
	cursor: default;
	margin: 0em;
	border-width: 1px;
	border-style: solid;
	border-color: -internal-light-dark(rgb(118, 118, 118),
		rgb(133, 133, 133));
	border-image: initial;
	border-radius: 0px;
}

select:not(:-internal-list-box) {
	overflow: visible !important;
}

/* option {
	font-weight: normal;
	display: block;
	white-space: nowrap;
	min-height: 1.2em;
	padding: 0px 2px 1px;
} */

label {
	cursor: default;
}
/* .right{
	width:100px;
	height: 10px;
	
} */
 .cld_header .ym_num .field label {
	font-size: 14px;
	font-weight: 600;
	padding-top: 4px;
} 

.cld_header .btn {
	display: block;
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url(img/cmnt/cal_bg.png) /* no-repeat -9999px */;
	 /* background-size: cover; 비율 유지 + 꽉 차게
    background-position: center center; 좌우 상하 center */
}

.cld_header .btn_prev {
	top: 8px;
	left: 10px;
	background-position: 0 3px;
}

.schedule_event button {
	border: 0;
	background: none;
	cursor: pointer;
}

.cld_header .btn button {
	width: 18px;
	height: 18px;
}

 .cld_header .btn_next {
	top: 8px;
	left: 255px;
	background-position: 0 -15px;

} 

 .tb_cal {
	width: 280px;
	border: 1px solid #d9d9d9;
	border-top: 0;
	border-spacing: 0;
	table-layout: fixed;
} 

 .tb_cal caption {
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
} 

/* caption {
	display: table-caption;
	text-align: -webkit-center;
} */
/* 
table {
	border-collapse: separate;
	text-indent: initial;
	border-spacing: 2px;
} */

/* thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
} */
/* 
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
} */